html {
    height:100%;
    font-family: 'Poppins', sans-serif;
}






header {

    height:118px;
    font-family: 'Poppins', sans-serif;
    
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

nav {
    background-color:gray;
    width:1024px;
    font-family: 'Poppins', sans-serif;

    
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-top: 60px;
    padding-top: 14px;
    padding-bottom: 14px;
    

}

section {
    
    height: 400px;
    font-family: 'Poppins', sans-serif;
    
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;

}

/* footer {
    background-color: rgba(0, 0, 0, 0.39);
    padding-top: 50px;
    padding-bottom:50px ;
    padding-left: 280px;

} */

.container {
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    margin-right: auto;
    width:1024px;
}

body {
    background-color:white;
    /* background-image: url(images/download.jpg); */
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center ;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size:64px;
    color:black;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 18px;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

a {
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

nav a {
    text-decoration: none;
    padding-top: 80;
    font-size: 12;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
}

.emergency-box {
    border: 1px solid #ccc;
    margin:50px 0;
    padding: 10px 20px;
    background-color: black;
    font-family: 'Poppins', sans-serif;

}

.emergency-box h3{
    text-align:left;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

.mindful {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-family: 'Poppins', sans-serif;
}


/* .emergency-box input, .emergency-box textarea {
    width: 100%;
    padding:10px;
    margin: 15px 0;
    box-sizing: border-box;
    border:none;
    outline:none;
    background:#f0f0f0;
}

.emergency-box button{
    margin:10px 0;
} */

.hero-btn{
    display:inline-block;
    color:#fff;
    border:1px solid #fff;
    padding:12px 34px;
    font-size: 13px;
    color:black;
    background:transparent;
    position: relative;
    cursor: pointer;
    text-decoration:none;
    background-color: wheat;
    font-family: 'Poppins', sans-serif;
}

.hero-btn:hover {
    border:1px solid #f44336;
    background-color: #f44336;
    transition:1s;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.hello {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

contact input, contact textarea{
    width:100%;
    /* padding:15px; */
    
    margin-bottom:17px;
    outline:none;
    border:1px solid #ccc;
    font-family: 'Poppins', sans-serif;

}

.contact-col input, .contact-col textarea {
    width:60%;
    padding:15px;
    margin-bottom: 17px;
    outline:none;
    border:1px solid #ccc;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

.contact-col{
    padding-left: 450px;
    font-family: 'Poppins', sans-serif;
}

.submit{
    padding-left:450px;
    font-family: 'Poppins', sans-serif;
}



.header {
    font-size: 3000px;
    font-family: 'Poppins', sans-serif;
    padding-left:450px;
    text-align: center;
}

/* p {
    font-size: 18px;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
} */

/* .footer p {
    font-size: 18px;
    text-align: center;
    color:white;
} */